node_modules/
test-results/
playwright-report/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyz

# Django / Python
db.sqlite3
*.sqlite3
media/
media/models/
venv/
.env
*.log
.DS_Store
staticfiles/
