{% extends "base.html" %}
{% block title %}Password reset complete - FleetPredict Pro{% endblock %}
{% block meta_description %}Your password has been reset.{% endblock %}
{% block content %}
<div class="auth-wrapper">
  <div class="row justify-content-center w-100">
    <div class="col-11 col-sm-10 col-md-5 col-lg-4">
      <div class="card auth-card card-fp">
        <div class="card-body p-4">
          <h2 class="card-title mb-4">Password reset complete</h2>
          <p class="mb-3">Your password has been set. You can now log in with your new password.</p>
          <p class="mb-0"><a href="{% url 'users:login' %}" class="btn btn-primary w-100">Log in</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
